body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;
  overflow-y: auto;
}

html {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

a {
  color: #ff00c3;
  &:hover {
    color: #ff00c3;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#browser-actions {
  right: 0;
  overflow-x: hidden;
}

#browser-recorder {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#browser-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: scale(1); /* Ensure no scaling */
  transform-origin: top left; /* Keep the position fixed */
}

#browser {
}

#browser-window {
  overflow-y: auto;
  height: 100%;
}

.right-side-panel {
  margin: 0;
  transform: scale(1);
  transform-origin: top left;
  overflow: hidden;
  position: relative;
}

/* For laptops (between 1024px and 1440px) */
@media (min-width: 1024px) and (max-width: 1440px) {
  #browser-recorder {
    box-sizing: border-box;
    height: calc(100vh - 0.6rem);
    margin: 0.3rem;
  }
}

/* For desktops (between 1441px and 1920px) */
@media (min-width: 1441px) and (max-width: 1500px) {
  #browser-recorder {
    box-sizing: border-box;
    height: calc(100vh - 2rem);
    margin: 1rem;
  }
}

@media (min-width: 1501px) and (max-width: 1700px) {
  #browser-recorder {
    box-sizing: border-box;
    height: calc(100vh - 2rem);
    margin: 1rem 8rem;
  }
}

@media (min-width: 1701px) and (max-width: 1800px) {
  #browser-recorder {
    box-sizing: border-box;
    height: calc(100vh - 2rem);
    margin: 1rem 14rem;
  }
}

@media (min-width: 1801px) and (max-width: 1900px) {
  #browser-recorder {
    box-sizing: border-box;
    height: calc(100vh - 2rem);
    margin: 1rem 18.5rem;
  }
}

@media (min-width: 1900px) and (max-width: 1920px) {
  #browser-recorder {
    box-sizing: border-box;
    height: calc(100vh - 2rem);
    margin: 1rem 20rem;
  }
}

/* For very large desktops (greater than 1920px) */
@media (min-width: 1921px) and (max-width: 2000px) {
  #browser-recorder {
    box-sizing: border-box;
    height: calc(100vh - 2rem);
    margin: 1rem 20rem;
  }
}

@media (min-width: 2001px) and (max-width: 2500px) {
  #browser-recorder {
    box-sizing: border-box;
    height: calc(100vh - 2rem);
    margin: 1rem 24rem;
  }
}

@media (min-width: 2501px) and (max-width: 2999px) {
  #browser-recorder {
    box-sizing: border-box;
    height: calc(100vh - 2rem);
    margin: 1rem 40rem;
  }
}

@media (min-width: 3000px) {
  #browser-recorder {
    box-sizing: border-box;
    height: calc(100vh - 2rem);
    margin: 1rem 55rem;
  }
}
